@keyframes infinite-rotate {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes infinite-rotate-opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
      transform: rotate(360deg);
    }
  }
  @keyframes infinite-poppin {
    to {
      transform: translateY(20px);
    }
  }

  @-webkit-keyframes flash {
    0% {
      opacity: .4;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
* {
margin: 0;
padding: 0;
}


body {
  overflow-x: hidden;
  background-color: #fff;
}
html {
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
color: rgba(0, 0, 0, 0.87);
}

body {
    overflow-x: hidden;
    background: rgb(2,0,36);
 background: rgb(2,0,36);
background: linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(242,199,129,1) 0%, rgba(167,161,135,1) 0%, rgba(244,226,196,1) 0%, rgba(185,202,166,1) 0%, rgba(160,192,153,1) 0%, rgba(148,187,147,1) 0%, rgba(141,184,143,1) 0%, rgba(134,181,140,1) 0%, rgba(112,172,129,1) 0%, rgba(31,42,111,1) 0%, rgba(107,170,126,1) 0%, rgba(157,197,169,1) 0%, rgba(173,206,183,1) 18%, rgba(246,246,245,1) 100%, rgba(240,182,87,1) 100%, rgba(107,170,126,1) 100%, rgba(107,170,126,1) 100%, rgba(107,170,126,1) 100%, rgba(107,170,126,1) 100%, rgba(107,170,126,1) 100%, rgba(107,170,126,1) 100%, rgba(107,170,126,1) 100%, rgba(104,169,125,1) 100%, rgba(92,163,119,1) 100%, rgba(85,160,115,1) 100%, rgba(77,157,111,1) 100%, rgba(62,151,104,1) 100%, rgba(45,144,95,1) 100%, rgba(60,150,103,1) 100%, rgba(36,140,90,1) 100%, rgba(48,145,96,1) 100%, rgba(76,159,117,1) 100%);
  }
  .header.bg-dark{
    position: fixed;
    z-index: 999;
    transition: all 0.38s;
    width: 100%;
    top: 0;
  left: 0;
  padding: 8px 0;
  }
  .header.show {
    transform: translateY(0);
  }
  .header.hide {
    transform: translateY(-100%);
  }
.header .container{
    display: flex;
}

/* header tablet width >= 740px & width <1024px*/
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .header .nav.justify-content-centercol-6.mt-4.logo {
        display: none;
    }
}

/* header mobile width < 740px*/

.banner.container.mt-5{
  position: relative;
  
}
.img_banner {
    display: flex;
    justify-content: center;
   
}

@media  (max-width: 991px) {
    .jumbotron.jumbotron-fluid {
      padding: 0px;
    }
    .button_banner .btn_seemore{
      width: 50%;  
      margin: 5px auto;
      
    }
    .btn_gosomewhere{
      width: 50%;  
      margin: 5px auto;
    }
    .img_banner{
        width: 400px;
        margin: 0 auto;
        padding: 0px;
    }

    .banner.container.mt-5 .jumbotron.jumbotron-fluid.col-lg-6.col-sx-12.col-md-12 {
      margin-top: 50px;
    }

    #logo_image{
      display: none;
    }

}

@media (min-width: 374px) {
  #logo_image{
    width:100px; height:100px; object-fit: cover;
  }
}
@media (max-width: 767px) {
    .banner.container.mt-5 .img_banner{
       margin: 0 auto;
    }

    .jumbotron.jumbotron-fluid.col-lg-6.col-sx-12.col-md-12{
        text-align: center;
    }
    .banner.container.mt-5 .jumbotron.jumbotron-fluid.col-lg-6.col-sx-12.col-md-12 {
      margin-top: 50px;
    }
    #logo_image{
      visibility: hidden; 
    }

  }

.banner__fruit-wrapper {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
 
}


.banner__fruit {
  background-repeat: no-repeat;
  animation: infinite-rotate 30s linear infinite;
}

.banner__fruit.banner__fruit--fruit {
  bottom: -60%;
}

.banner__fruit--watermelon img{
  width: 135x;
  height: 135px;
  /* background-image: url(/image/watermelon.png); */
}

/* list food */
/* .list_food.container img{
  -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.list_food.container img:hover{
  -webkit-transform: scale(1);
	transform: scale(1);
}
 */


.card.bg-transparent,
.card-header.text-center,
.list_food.container .card.bg-transparent.text-white.col-lg-2.col-md-4.col-sx-6{
  border: none;
}

.list_food.container img{
  object-fit: cover;
  opacity: 0.8;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: rgb(65, 97, 2) 3px solid;
}

@media  (max-width: 991px) {
  .card-img.img-listfood:nth-of-type(1),
  .card-img.img-listfood:nth-of-type(2),
  .card-img.img-listfood:nth-of-type(3),
  .card-img.img-listfood:nth-of-type(4),
  .card-img.img-listfood:nth-of-type(5),
  .card-img.img-listfood:nth-of-type(6)
  {
    width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
    
  }

  .card-img-overlay{
    visibility: hidden;
  }
  

}

@media  (max-width: 767px) {
  .card-img.img-listfood:nth-of-type(1),
  .card-img.img-listfood:nth-of-type(2),
  .card-img.img-listfood:nth-of-type(3),
  .card-img.img-listfood:nth-of-type(4),
  .card-img.img-listfood:nth-of-type(5),
  .card-img.img-listfood:nth-of-type(6)
  {
    width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  }
  
  /* .card.bg-transparent.text-white.col-lg-2.col-md-4.col-2.text-center .card-img.img-listfood{
    margin-left: 50px;
  }
 */

}

@media  (max-width: 376px) {
  .card-img.img-listfood:nth-of-type(1),
  .card-img.img-listfood:nth-of-type(2),
  .card-img.img-listfood:nth-of-type(3),
  .card-img.img-listfood:nth-of-type(4),
  .card-img.img-listfood:nth-of-type(5),
  .card-img.img-listfood:nth-of-type(6)
  {
    width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  }
}

/*  */
.info_introduct.container.mt-3 .empty_hover{
  position: relative;
}

.info_introduct.container.mt-3 .card-img-top.image {
display: block;
width: 50%;
justify-content: center;

/* height: auto; */
object-fit: cover;  
}

.info_introduct.container.mt-3 .overlay {
position: absolute;
bottom: 100%;
left: 0;
right: 0;
background-color: rgba(233, 157, 58, 0.5);;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
}

.info_introduct.container.mt-3  .empty_hover:hover .overlay {
bottom: 0;
height: 100%;
}
.info_introduct.container.mt-3  .empty_hover .text {
white-space: nowrap; 
color: white;
font-size: 20px;
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

/*provided  */

.row.provided {
  
  background: rgba(90, 199, 175, 0.5)
  }
  
   @media  (max-width: 991px){
    .row.provided .blockquote.mb-0 {
      text-align: center;
    }
  
    .col-lg-3.col-md-4.col-sm-4.col-xs-12.mt-5{
      text-align: center;
    }
   }
  
  
   @media  (max-width: 767px){
    .row.provided .blockquote.mb-0 {
      text-align: center;
    }
  
    .col-lg-3.col-md-4.col-sm-4.col-xs-12.mt-5 ,h5, p{
      text-align: center;
    }
   }


/* next - provided - about */

.row.next__provided .col-lg-6.col-md-6.col-sm-12.col-xs-12.mb-3{
  border-bottom: 0.2px solid darkcyan;
}
.row.next__provided .col-lg-6.col-md-6.col-sm-12.col-xs-12.mb-3:hover{
  background-color: rgba(130, 225, 192, 0.5) ;
}
.row.next__provided .col-lg-6.col-md-6.col-sm-12.col-xs-12.mb-3 img{
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.row.next__provided .col-lg-6.col-md-6.col-sm-12.col-xs-12.mb-3:hover img{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
} 
.container .row.next__provided img{
  width: 100px; height: 100px; border-radius: 50%; object-fit: cover;
 }


 @media  (max-width: 767px){
  .container .row.next__provided img{
  width: 70px; height: 70px; border-radius: 50%; object-fit: cover;
 }
 }
/* slide */
#carouselExampleIndicators img{
  max-height: 23.5em;
  object-fit: cover;

}

#text__slide_first{
top: 35%;
left: -35%;
}

#text__slide_second{
  top: 25%;
  left: 40%;
}

#carouselExampleIndicators #slide_img_1{
  margin-left: 30px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#carouselExampleIndicators .carousel-item:nth-of-type(1):hover #slide_img_1{
  margin-left: 0;
  opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

#carouselExampleIndicators #slide_img_2{
  margin-left: 50px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#carouselExampleIndicators #slide_img_2:hover{
  margin-left: 0;
  opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

#carouselExampleIndicators #slide_img_3{
  -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#carouselExampleIndicators #slide_img_3:hover{
  -webkit-transform: scale(1);
	transform: scale(1);
}

@media (max-width: 991px){
  #text__slide_first{
    top: 35%;
left: -25%;;
  }
  #text__slide_second{
    top: 25%;
    left: 30%;
  }
}

/* logo */
.logo .container {
  background-color: transparent;
  margin: 10px auto;
  padding: 50px 50px;
}
.logo_banner_thelast img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

@media  (max-width: 767px){
  .logo_banner_thelast img{
    margin-left: 15%;
    margin-bottom: 10%;
    width: 60px;
    height: 60px;

  }
}

@media  (max-width: 991px){
  .logo_banner_thelast img{
    margin-left: 20%;
    margin-bottom: 20%;
    width: 60px;
    height: 60px;
  }
}

.logo_banner_thelast img{
  -webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.logo_banner_thelast img:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* footer header*/ 
 .footer__sayhey{
  padding-top: 20px;
  background-color: rgb(50, 56, 52);
  color: rgb(77, 133, 77);
  font-weight: lighter;
  width: 100%;

}
 .footer__sayhey p{
   font-size: 12px;
 }

#empty_footer{
  height: 1px;
  background-color: rgb(77, 133, 77);
  width: 50%;
  margin: 50px auto;
 
}

.header__footer{
  width: 50%;
  margin: 0 auto;
}
.header__footer .circle_flower{
  padding-left: 35.4%;
  position: relative;
  z-index: 9999;
  opacity: 1;
 
}
.header__footer .circle_flower img{
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  animation: infinite-rotate 30s linear infinite;

}

.body__header input{
  border-radius: 50px 50px 50px 50px; 
  border: none;
  height: 30px  ;
}

.the_end{
 margin: 0 auto;
 padding-top: 30px;
}

.the_end{
  height: 100px;
  
  background-color:rgb(24, 37, 32) ;
  text-align: center;
  
}
@media  (min-width: 600px){
  .body__header .card.bg-transparent{
    left: 6em;
  }
  .body__header input{
    width: 150px;
  }
}

@media  (max-width: 767px){
  .header__footer .circle_flower{
    visibility: hidden;
   
  }
  .body__header input{
    width: 150px;
  }
}

@media  (max-width: 991px){
  .body__header input{
    width: 150px;
  }
}

@media  (min-width: 1024px){
  .body__header input{
    width: 200px;
  }
}
/* css button */
.btn_gosomewhere, .btn_seemore {
  height: 5em; 
}

/* load */

header{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding: 30px;
}
.jumbotron.jumbotron-fluid.col-lg-6.col-sx-12.col-md-12 , .row.button_banner, #logo_image{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding: 30px;
}

.info_introduct.container.mt-3 , .row.next__provided{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}


/* .info_introduct.container.mt-3  .card.col-lg-3.col-md-6.col-sm-6.col-xs-12, .card, .card-body.text-center {
border: none;
} */

/* introduce */
/* .introduce.container.mt-5 .col.bg-dark.m-3:nth-of-type(1),

.col.bg-dark.m-3:nth-of-type(2){
  position: relative;
  width: 11.25em;
  height: 28.125em; 
  
}

.introduce.container.mt-5 .row.bg-dark.m-3 {
  height: 14.0625em;
}

.introduce.container.mt-5 .col.bg-dark.ml-2, .col.bg-dark.mr-2 {
  height: 14.0625em;
}

.introduce.container.mt-5 .image__banner{
  position: absolute;
  left: -1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  border: rgb(186, 206, 131) 2px solid;
  box-shadow: 2px 2px 2px 2px rgb(101, 109, 72);
}

@media  (max-width: 767px){
  #image__left, #image__bottom, #image__right{
    position: absolute;
     top: -9999px;
     left: -9999px;
  }
  
    
}

@media  (max-width: 376px) {
  #image__left, #image__bottom, #image__right{
    position: absolute;
     top: -9999px;
     left: -9999px;
  }
}

@media  (max-width: 767px){
  #card__top{
    position: absolute;
    width: 300px;
    right: -10em;
  }
  
  #image__bottom_r{
    position:absolute;
    top: 200px;
    right: -130px;
    
  }
  .banner__fruit-wrapper.introduce{
    opacity: 0.5;
    position: absolute;
    width: 300px;
    right: -10em;
    }
}

@media  (max-width: 376px) {
  #card__top{    
    position: absolute;
    width: 300px;
    right: -10em;
    
  }
  #image__bottom_r{
    position:absolute;
    top: 200px;
    right: -90px;
  }
 .banner__fruit-wrapper.introduce{
   opacity: 0.5;
  position: absolute;
  width: 300px;
  right: -10em;
  }
} */